* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #a8e6a3, #e6a8a3);
    color: #33691E;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33691E;
    color: whitesmoke;
    padding: 10px 20px;
    height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo-image {
    height: 60px;        
    width: auto;
    margin-top: 8px;
}

.logo-name {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: -4px;
}


.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to bottom right, #a8e6a3, #e6a8a3); 
    position: relative; 
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; 
    margin-bottom: 10px; 
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    color: whitesmoke; 
}

.user-message {
    background-color: #33691E; 
    align-self: flex-end;
}

.bot-message {
    background-color: #33691E; 
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: linear-gradient(to bottom right, #a8e6a3, #e6a8a3); 
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0; 
}

.chat-input {
    padding: 10px;
    border: 1px solid #00ff00; 
    border-radius: 5px;
    margin-right: 10px;
    flex: 1; 
    background-color: #1a1a1a; 
    color: whitesmoke; 
}

.send-button {
    padding: 10px;
    background-color: #33691E; 
    color: whitesmoke; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #33691E; 
}