.logo1 {
    display: flex;
    width: 100%;
    height: 6vh;
    background: linear-gradient(to right, #a8e6a3, #e6a8a3);
    align-items: center;
}

.logo1 .left-section {
    display: flex;
    align-items: center;
}

.logo1 .logo-img {
    width: 50%;
    height: 50px;
    margin-top: 8px;
}

.logo1 .logo-name {
    font-size: 25px;
    font-weight: bold;
    color: #33691E;
    margin-top: -4px;
}

.logo1 .user-img {
    width: 3%;
    height: 80%;
    /* margin-top: 3.5px; */
    margin-left: auto;
    margin-right: 10px;
}